.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
  height: 100vh;
  width: 100%;
  background: url(../../img/main_bg.jfif) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.header-wrapper {
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px rgba(111, 108, 110, 0.4) solid;
  height: 98px;
}

.list-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 776px;
}

.list-menu__item {
  margin-left: 40px;
  padding: 40px 0 40px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.list-menu__item:hover {
  border-bottom: 2px solid #fff;
}

.list-menu__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.content__text {
  margin-bottom: 20px;
}

.content__title {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 50px;
  width: 800px;
}

.text {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.button {
  width: 200px;
  height: 45px;
  background-color: #4985FF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: #333;
}

.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 105px 0 105px 0;
}

.services__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  text-align: center;
  max-width: 739px;
  margin-bottom: 50px;
}

.services__text {
  color: #999999;
  max-width: 739px;
  margin-bottom: 70px;
  text-align: center;
}

.services-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 55px;
}

.services-list__img {
  margin-right: 15px;
  margin-left: 15px;
  width: 80px;
  height: 80px;
}

.services-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 300px;
}

.services-list__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  color: #000000;
}

.services-list__info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
}

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 100px 0;
  background-color: #F6F6F8;
}

.detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 90px;
  border-bottom: 1px solid #E0E0E0;
}

.detail__info {
  margin-right: 120px;
}

.detail__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}

.detail__text {
  color: #999999;
  margin-bottom: 30px;
}

.detail__more {
  color: #4985FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.detail__img {
  width: 500px;
  height: 400px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.project {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

.project__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.project__img {
  margin-right: 10px;
}

.project__count {
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
}

.project__text {
  color: #999999;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.example {
  position: relative;
  z-index: 1;
}

.example ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: -webkit-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  background: -o-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  z-index: -1;
}

.labor {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0 85px 0;
}

.labor-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 85px;
  border-bottom: 1px solid #E0E0E0;
}

.labor__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #fff;
  max-width: 540px;
}

.labor-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.labor__img {
  width: 350px;
  height: 300px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.labor-card {
  max-width: 350px;
}

.labor-card__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.labor-card__number {
  color: #4985FF;
}

.labor__text {
  color: #999999;
  margin-bottom: 30px;
}

.our-work {
  padding: 100px 0 100px 0;
  background: #F6F6F8;
}

.our-work__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  margin-bottom: 50px;
}

.our-work__text {
  max-width: 735px;
  color: #999999;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.our-work__examples {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.our-work__img {
  width: 255px;
  height: 255px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-work__button {
  margin: 0 auto;
}

.video {
  position: relative;
  width: 100%;
  padding-top: 70px;
}

.video__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  border-bottom: 1px solid #E0E0E0;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: url(../../img/main_bg.jfif) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.video__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 30px;
}

.video__text {
  color: #FFFFFF;
  margin-bottom: 70px;
}

.video__play {
  position: relative;
  width: 970px;
  height: 430px;
  background: url(/img/video.jfif) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 85px;
}

.video__play::after {
  content: "";
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 300px;
  height: 100px;
  background: url(/img/video__button.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 999;
}

.subscribe {
  padding: 85px 0 85px 0;
}

.subscribe__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.subscribe__text {
  color: #999999;
  margin-bottom: 30px;
}

.subscribe__form {
  position: relative;
  width: 489px;
  height: 45px;
  margin-bottom: 35px;
}

.subscribe__input {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 489px;
  height: 45px;
  padding-left: 30px;
  padding-right: 220px;
}

.subscribe__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 45px;
  -webkit-border-radius: 0 30px 30px 0;
          border-radius: 0 30px 30px 0;
}

.subscribe__ps {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-style: normal;
}
